html
{
   background-image:linear-gradient(to right,#C0C0C0,#b8bed0,#384b7e);
   min-height: 100%;
}

header{
  margin: 0; 
  padding: 20px; 
  text-align: center;
  display: flex;
  align-items: center;
}

h1 {
  margin-left: 250px; 
  margin-top: 40px; 
  padding: 0; 
  text-align: center;
  font-family: "Trebuchet MS"; 
  font-size:30px;
}

#logo {
  float: left; 
  margin-left: 45px; 
}

body { 
  min-height: calc(100vh - 100px);
  font-family: "Trebuchet MS"; 
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  
}

.contenedor-kata {
  width: 600px; 
  height: 240px; 
  background-color: #fff; 
  border: 2px solid #000; 
  border-radius: 30px; 
  margin: 30px 0;
  display: flex;
  align-items: center; 
  justify-content: center; 
  text-align: center;
}

.contenedor-kata h4 {
  margin-left: 10px; 
}

.contenedor-kata p {
  margin-left: 50px;
  margin-right: 25px;  
}

.contenedor-kata span {
  margin-left: 50px;
  margin-right: 25px;  
}

footer {
  font-family: "Trebuchet MS"; 
  font-size:17px; 
  padding: 20px; 
}

.der {
  float: right;
}

hr{
  height: 2px;
  background-color: black;
  border: none;
}

#form_añadir {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#form_añadir input,
#form_añadir select,
#form_añadir button {
  margin: 5px;
}

#form_añadir button {
  padding: 10px 20px;
}

h2 {
  
  padding: 0; 
  text-align: center;
  font-family: "Trebuchet MS"; 
  font-size:30px;
}

h2#mostrar-formulario {
  cursor: pointer; /* Cambia el cursor a una mano cuando pasa sobre el h2 */
}
h2#mostrar-formulario:hover {
  color: red; /* Cambia el color del texto cuando se pasa el cursor sobre el h2 */
}